# First Semester Project: Automating Accounting Procedures for a Business(Individual Project)


## Project Overview:

A local retail business, dealing with a variety of products, aims to streamline and automate its accounting procedures. The business operates two shifts per day with one worker on each shift. The primary goal is to create a Python project that assists in automating essential accounting tasks, including calculating total sales, worker salaries, profit, tips, and total tips for the day.
## Key Features:

Calculate Total Sales for the Day: from sales data for morning and evening shifts, produce total sales for the day.

Calculate Worker's Salary: given hourly rate and hours worked by a worker. retrieve the worker's salary.

Calculate Profit: given a list of numbers representing total sales and total cost of items sold, find the profit.(or loss if negative)

Calculate Tips for a Shift: from sales data for a specific shift, workers get tipped for the shift (2% of shift sales).

Calculate Total Tips for the Day: with sales data for morning and evening shifts, return total tips for the day (sum of tips from both shifts).
	Think of your shift sales as a list.
User Interface:
Create a user-friendly interface that displays a menu of available operations.
Accept user input to choose the desired operation (1-4) or exit (5).
### Input Handling:
Prompt the user to enter numbers for each operation.
Ensure that the program handles invalid inputs gracefully (e.g., non-numeric inputs).
### Result Display:
Display the result of the selected operation clearly to the user.
### Program Loop:
Implement a loop that allows the user to perform multiple calculations until choosing to exit.
Project Structure:
Organize your code into functions to encapsulate specific operations.
Maintain a clear separation between function definitions and the main program.
### Error Handling:
Include error handling for scenarios such as division by zero.
Exiting the Program:
Provide an option for users to exit the  program.


### Submission:
Submit your project as a well-organized Python script (automation.py) with comments explaining each function. Discuss the challenges you encountered while working on this. Ensure that your code is readable, and use meaningful variable names.
 Submission Link
### Tips:
Test your program thoroughly with various inputs to ensure it works correctly.
Structure your code in a way that makes it easy to understand and maintain.
Experiment with additional features if you're comfortable, but focus on meeting the basic requirements first.

### Calculate Total Sales for the Day: from sales data for morning and evening shifts, produce total sales for the day.

In [2]:
def total_daily_sales():
    global sales_shift_1
    global sales_shift_2
    global total_sales
    
    while True:
        
        try:
            sales_shift_1 = input("Enter morning shift sales seperated by commas: ")
            sales_shift_2 = input("Enter evening shift sales separated by commas: ")
            
            sales_shift_1 = [float(x) for x in sales_shift_1.split(',')]
            sales_shift_2 = [float(x) for x in sales_shift_2.split(',')]
            
            break
        except ValueError:
            print('Please enter a valid number')
    
    
    #sales_shift_1 = float(input('Enter your daily sales: '))
    #sales_shift_2 = float(input('Enter your daily sales: '))
    total_sales = sales_shift_1 + sales_shift_2
    print(f'${sum(total_sales)}')
    return f'Daily total sales is {total_sales}'
total_daily_sales()

Enter morning shift sales seperated by commas: 4,5,6,7,8
Enter evening shift sales separated by commas: 3,4
$37.0

'Daily total sales is [4.0, 5.0, 6.0, 7.0, 8.0, 3.0, 4.0]'

### Calculate Worker's Salary: given hourly rate and hours worked by a worker. retrieve the worker's salary.

In [4]:
def salary():
    hourly_rates = 5
    hours_worked = 8
    salary = hourly_rates * hours_worked
    return f'${salary}'

In [26]:
salary = salary()

### Calculate Profit: given a list of numbers representing total sales and total cost of items sold, find the profit.(or loss if negative)

In [6]:
def profit():
    total_costs = [50, 25, 80, 65, 20, 45]    
    difference = sum(total_sales) - sum(total_costs)
    
    if difference > 0:
        print(f'Your profit is ${difference}')
    elif difference == 0:
        print('You did not make profit or loss')
    else:
        print(f'Your loss is ${difference}')
profit()

Your loss is $-248.0

### Calculate Tips for a Shift: from sales data for a specific shift, workers get tipped for the shift (2% of shift sales).

In [58]:
def tip_per_shift():
    return sum(sales_shift_1) * 0.02

In [59]:
tip_per_shift()

5.04

### Calculate Total Tips for the Day: with sales data for morning and evening shifts, return total tips for the day (sum of tips from both shifts).

In [14]:
def total_tips():
    total_tip = sum(total_sales) * 0.02
    return total_tip

In [20]:
totat_tip = total_tips()

In [21]:
totat_tip

0.74

### Create Salary sheets
shift, total sales, hours worked, hourly rate, salary, total tips

In [ ]:
def salary_sheets():
    data = {'Total sales': total_sales, 'Salary': salary}

In [23]:
import pandas as pd

# Your variables
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
salaries = [50000, 60000, 75000]

# Create a dictionary from the variables
data = {'Name': names, 'Age': ages, 'Salary': salaries}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000

In [24]:
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   75000